.calendar__section--form {
    background: var(--white-basic);
    border-bottom-right-radius: 40px;
    border-top-left-radius: 40px;
    box-shadow: var(--box-shadow-basic);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 2rem 5%;
}

.calendar__subheader {
    letter-spacing: 0.2rem;
    margin-bottom: 1rem;
    text-align: center;
}

.calendar__subtitle {
    font-size: 1.6rem;
}

.form {
    display: flex;
    flex-direction: column;
}

.form__field {
    position: relative;
}

.form__field:focus-within .form__label {
    letter-spacing: 0.3rem;
}

.form__label {
    letter-spacing: 0.1rem;
    transition: letter-spacing var(--transition-data);
}

.form__input {
    border-bottom: 1px solid var(--black-basic);
    font-weight: 700;
    letter-spacing: 0.1rem;
    padding: 6px 0;
    transition: border-bottom var(--transition-data);
}

.form__input--invalid {
    border-bottom: 1px solid var(--red-dark);
}

.form__border {
    background: var(--black-basic);
    display: block;
    height: 2px;
    transition: width var(--transition-data);
    width: 0;
}

.form__border--invalid {
    background: var(--red-dark);
}

.form__input:focus + .form__border {
    width: 100%;
}

.form__placeholder {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    min-height: 1.8rem;
}

.form__prompts {
    animation: slide-down var(--transition-data);
    background: var(--yellow);
    border-bottom-right-radius: 40px;
    box-shadow: var(--box-shadow-basic);
    display: grid;
    font-weight: 700;
    grid-gap: 0.25rem;
    grid-template-columns: 1fr;
    max-height: 150px;
    overflow-y: scroll;
    padding: 0.4rem;
    position: absolute;
    top: calc(80px - 1.8rem);
    transform-origin: left top;
    width: 100%;
    z-index: 1;
}

.form__suggestion {
    cursor: pointer;
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
    padding: 0.4rem;
    word-break: break-all;
}

.form__suggestion--desc {
    cursor: initial;
    font-size: 0.6rem;
    font-style: italic;
    font-weight: 300;
    letter-spacing: initial;
    padding: 0;
    text-align: right;
}

.form__err {
    color: var(--red-dark);
    font-size: 0.8rem;
}

.form__submit {
    background: var(--yellow);
    border-bottom-right-radius: 40px;
    box-shadow: var(--box-shadow-basic);
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: 0.2rem;
    margin-top: 1rem;
    padding: 0.75rem;
    text-transform: lowercase;
}

@keyframes slide-down {
    0% {
        opacity: 0;
        transform: scaleY(0);
    }
    100% {
        opacity: 1;
        transform: scaleY(1);
    }
}

@media only screen and (min-width: 960px) {
    .calendar__section--form {
        margin: 0 auto;
        max-width: 1440px;
        width: 90%;
    }

    .calendar__subtitle {
        font-size: 1.8rem;
    }

    .form {
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .form__placeholder {
        justify-content: flex-start;
        min-height: 2.2rem;
    }

    .form__suggestion {
        font-size: 0.9rem;
        position: relative;
        max-width: max-content;
    }

    .form__suggestion::after {
        background: var(--black-basic);
        border-radius: 2px;
        bottom: 5px;
        content: "";
        height: 2px;
        left: 50%;
        position: absolute;
        transition: left var(--transition-data), width var(--transition-data);
        width: 0;
    }

    .form__suggestion:hover::after {
        left: 0;
        width: 100%;
    }

    .form__suggestion--desc {
        font-size: 0.7rem;
        justify-self: end;
    }

    .form__suggestion--desc::after {
        content: none;
    }

    .form__err {
        font-size: 0.9rem;
    }

    .form__submit {
        background: var(--white-basic);
        box-shadow: var(--box-shadow-basic);
        margin: 0;
        padding: 0.85rem;
        transition: box-shadow var(--transition-data);
    }

    .form__submit:hover {
        border: none;
        box-shadow: var(--box-shadow-basic), inset 25rem 0 0 0 var(--yellow);
    }
}
