.calendar {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.calendar__header {
    margin: 2rem auto;
    width: 90%;
}

.calendar__pretitle {
    font-size: 1.2rem;
    font-weight: 300;
    letter-spacing: 0.1rem;
}

.calendar__title {
    font-size: 2.4rem;
    letter-spacing: 0.25rem;
    margin: 0;
}

.calendar__description {
    font-size: 1.4rem;
    letter-spacing: 0.15rem;
    margin-top: 1rem;
}

.calendar__highlight {
    filter: blur(1.5px);
    font-weight: 700;
    letter-spacing: 0.3rem;
}

.calendar__wrapper {
    width: 100%;
}

@media only screen and (min-width: 960px) {
    .calendar__header {
        max-width: 1440px;
        width: 90%;
    }
}
