.list__item {
    background: var(--white-basic);
    border-radius: 8px;
    box-shadow: var(--box-shadow-basic);
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 100px minmax(0, 1fr);
    margin: 0 5%;
    padding: 1rem 0.75rem;
}

.list__card {
    background: var(--white-basic);
    border-radius: 8px;
    box-shadow: 0 0 3px var(--grey-card-shadow);
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
    position: relative;
    text-align: center;
}

.list__card::before,
.list__card::after {
    box-shadow: 0 3px 3px -3px var(--grey-card-shadow);
    content: "";
    display: block;
    height: 100%;
    position: absolute;
}

.list__card::before {
    left: 5%;
    top: 6px;
    width: 90%;
}

.list__card::after {
    left: 2%;
    top: 3px;
    width: 96%;
}

.list__window {
    background: var(--red-dark);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    display: block;
    height: 20px;
    position: relative;
}

.list__window::before,
.list__window::after {
    background: var(--black-basic);
    content: "";
    display: block;
    height: 10px;
    position: absolute;
    top: -5px;
    width: 3px;
}

.list__window::before {
    left: 15%;
}

.list__window::after {
    right: 15%;
}

.list__date {
    padding: 0.5rem 0 1rem;
}

.list__day {
    font-size: 1.8rem;
    font-weight: 100;
    letter-spacing: 0.15rem;
}

.list__month {
    font-size: 0.9rem;
    letter-spacing: 0.1rem;
}

.list__time {
    padding-bottom: 0.5rem;
    padding-left: 15px;
    position: relative;
}

.list__time::before,
.list__time::after {
    content: "";
    position: absolute;
}

.list__time::before {
    background: var(--black-basic);
    display: block;
    height: 1px;
    left: 20%;
    top: -0.5rem;
    width: 60%;
}

.list__time::after {
    background-image: url(../icon/clock.png);
    background-size: cover;
    height: 12px;
    left: 20px;
    top: 2px;
    width: 12px;
}

.list__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.list__person {
    overflow-wrap: break-word;
}

.list__name {
    font-size: 0.9rem;
    letter-spacing: 0.1rem;
}

.list__surname {
    font-weight: 700;
    letter-spacing: 0.1rem;
    margin: 0.2rem 0 0.5rem;
}

.list__email {
    font-size: 0.8rem;
}

.list__btn {
    align-self: flex-end;
    background: var(--yellow);
    border-radius: 8px;
    box-shadow: var(--box-shadow-btn-mobile);
    color: var(--black-basic);
    font-weight: 700;
    letter-spacing: 0.1rem;
    max-width: 120px;
    min-width: 90px;
    padding: 0.25rem;
    text-transform: lowercase;
    width: 60%;
}

@media only screen and (min-width: 500px) {
    .list__item {
        grid-gap: 30px;
        padding: 1.5rem;
    }
}

@media only screen and (min-width: 680px) {
    .list__item {
        grid-gap: 10px;
        margin: 0;
        padding: 1rem 0.75rem;
    }
}

@media only screen and (min-width: 960px) {
    .list__item {
        grid-gap: 30px;
        padding: 1.5rem;
    }

    .list__surname {
        font-size: 1.2rem;
    }

    .list__email {
        font-size: 0.9rem;
    }

    .list__btn {
        background: var(--white-basic);
        border: 2px solid var(--black-basic);
        box-shadow: none;
        padding: 0.4rem;
        transition: box-shadow var(--transition-data), border var(--transition-data);
    }

    .list__btn:hover {
        border-color: var(--yellow);
        box-shadow: inset 7.5rem 0 0 0 var(--yellow);
    }
}
